@import url("styles/header.css");

:root {
    --cor-de-fundo: #1EF0E4;
    --branco: #1EF0E4;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
}
